<!DOCTYPE html>
<html>
  <head>
  </head>
  <body bgcolor="black">
    <div align="center">
      <font  size="5" color="green">
    <h1>チーム：Combu デス</h1>
      </font>
      <font  size="3" color="green">
    <h2>次に進みたい場合　⇨　以下の２つの画像をどれかクリックしてね〜</h2>
      </font>
<ul>
<li>
 <a href="http://localhost:4567/vm/new"><img src="https://prog-8.com/images/html/beginner/wanko.jpg" alt="TAG index1" border="0"></a>
</li>
<li>
 <a href="http://localhost:4567/vms"><img src="https://stat.ameba.jp/user_images/20170722/22/ziicafe/58/f2/j/o1080108013988333008.jpg?caw=800" alt="TAG index2" border="0"></a>
</li>
</ul>
    </div>
  </body>
</html>

